# Data wrangling:

In [2]:
import pandas as pd
import re

### Raw data retrieve:

In [3]:
df_personal_info =  pd.read_parquet('../data/raw/personal_info.parquet')
df_country_info =   pd.read_parquet('../data/raw/country_info.parquet')
df_norm_job_codes = pd.read_parquet('../data/raw/norm_job_codes-names.parquet')
df_career_info =    pd.read_parquet('../data/raw/career_info.parquet')
df_country_codes =  pd.read_parquet('../data/raw/webscraping_country_code-name.parquet')
df_poll_info =      pd.read_parquet('../data/raw/poll_info.parquet')

### Personal Info:

In [77]:
df_personal_info.head()

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65

In [78]:
df_personal_info['age'] = df_personal_info['age'].apply(lambda x: re.sub(r'\D', '', x)).astype(int)

In [79]:
df_personal_info['gender'].unique()

array(['male', 'Male', 'Fem', 'FeMale', 'female'], dtype=object)

In [80]:
df_personal_info['gender'] = df_personal_info['gender'].apply(lambda x: x.lower().capitalize())

In [81]:
df_personal_info["gender"].replace("Fem", "Female", inplace=True)

In [82]:
df_personal_info['dem_has_children'] = df_personal_info['dem_has_children'].apply(lambda x: x.lower())

In [83]:
df_personal_info.head()

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61,Male,no,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57,Male,yes,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32,Male,no,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45,Male,yes,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41,Female,yes,40_65

### Country info:

In [84]:
df_country_info.head()

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT         city

In [85]:
df_country_info.replace('GB', 'UK', inplace=True) # normalize GB-UK
df_country_info.replace('GR', 'EL', inplace=True) # normalize GR-EL

In [86]:
try:
    df_country_codes.set_index('code', inplace=True)
except:
    pass

In [87]:
df_country_info.head()

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT         city

In [88]:
df_country_info['country'] = df_country_info['country_code'].apply(lambda x: df_country_codes.loc[x])

In [89]:
df_country_info['rural'] = df_country_info['rural'].apply(lambda x: x.lower())

In [90]:
# col_order = ['uuid', 'country_code', 'country', 'rural']

In [91]:
df_country_info = df_country_info[['uuid', 'country_code', 'country', 'rural']]

In [92]:
df_country_info.head()

                                   uuid country_code  country        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  Austria  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT  Austria        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT  Austria         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT  Austria      country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT  Austria         city

## Career info:

In [93]:
df_career_info.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f

In [94]:
df_norm_job_codes.head()

                normalized_job_code                              title
0  861a9b9151e11362eb3c77ca914172d0  Automatic Data Processing Planner
1  049a3f3a2b5f85cb2971ba77ad66e10c                   Data Coordinator
2  f4b2fb1aa40f661488e2782b6d57ad2f                 Database Developer
3  27af8700f5577cec835acee2cb90a2ff              Data Entry Specialist
4  c1b670eba9ccb65e7c99f7da116d5b9c                 Database Architect

In [95]:
df_career_info['dem_education_level'].fillna('no', inplace=True)
df_career_info['normalized_job_code'].replace('None','none', inplace=True)
df_norm_job_codes.fillna('none', inplace=True)

In [96]:
# try:
#     df_norm_job_codes.set_index('title', inplace=True)
# except:
#     pass

In [97]:
df_career_info.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,none
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,no,no,none
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f

In [98]:
df_norm_job_codes.head()

                normalized_job_code                              title
0  861a9b9151e11362eb3c77ca914172d0  Automatic Data Processing Planner
1  049a3f3a2b5f85cb2971ba77ad66e10c                   Data Coordinator
2  f4b2fb1aa40f661488e2782b6d57ad2f                 Database Developer
3  27af8700f5577cec835acee2cb90a2ff              Data Entry Specialist
4  c1b670eba9ccb65e7c99f7da116d5b9c                 Database Architect

In [99]:
df_career_info = df_career_info.merge(df_norm_job_codes, on='normalized_job_code', how='left')

In [100]:
df_career_info

,uuid,dem_education_level,dem_full_time_job,normalized_job_code,title
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,none,none
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,Automatic Data Processing Planner
2,83127080-da3d-0133-c74f-0a81e8b09a82,no,no,none,none
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,Data Coordinator
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,Database Developer
...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,high,yes,847165cfda6b1dc82ae22b967da8af2f,Data Warehouse Developer
9645,39f989f0-db52-0133-8482-0a81e8b09a82,high,yes,a4d5b8b38f9513825d0d94a981ebe962,Database Manager
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,low,no,none,none
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,low,yes,775190277a849cba701b306a7b374c0a,Data Officer
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,high,yes,8a7a3f1bce0958ae9f090683e5a925b7,Data Scientist

In [101]:
df_career_info.rename(columns={'dem_education_level': 'education_level', 'dem_full_time_job':'full_time_job', 'title':'job_title'}, inplace=True)

In [102]:
df_career_info.head()

,uuid,education_level,full_time_job,normalized_job_code,job_title
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,none,none
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,Automatic Data Processing Planner
2,83127080-da3d-0133-c74f-0a81e8b09a82,no,no,none,none
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,Data Coordinator
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,Database Developer

### Poll info:

In [103]:
df_poll_info.head()

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

In [104]:
df_poll_info.columns

Index(['uuid', 'question_bbi_2016wave4_basicincome_awareness',
       'question_bbi_2016wave4_basicincome_vote',
       'question_bbi_2016wave4_basicincome_effect',
       'question_bbi_2016wave4_basicincome_argumentsfor',
       'question_bbi_2016wave4_basicincome_argumentsagainst'],
      dtype='object')

In [105]:
df_poll_info.rename(columns={'question_bbi_2016wave4_basicincome_awareness':        'basic_income_awareness',
                            'question_bbi_2016wave4_basicincome_vote':              'basic_income_vote',
                            'question_bbi_2016wave4_basicincome_effect':            'basic_income_effect',
                            'question_bbi_2016wave4_basicincome_argumentsfor':      'basic_income_arguments_for',
                            'question_bbi_2016wave4_basicincome_argumentsagainst':  'basic_income_arguments_against'},
                            inplace=True)

In [106]:
df_poll_info['basic_income_effect'] = df_poll_info['basic_income_effect'].apply(lambda x: re.sub('‰Û_', "I would", x))

In [107]:
df_poll_info.head()

,uuid,basic_income_awareness,basic_income_vote,basic_income_effect,basic_income_arguments_for,basic_income_arguments_against
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,I would gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,I would work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

### Merging...

df_personal_info =  pd.read_parquet('../data/raw/personal_info.parquet')
df_country_info =   pd.read_parquet('../data/raw/country_info.parquet')
df_career_info =    pd.read_parquet('../data/raw/career_info.parquet')
df_poll_info =      pd.read_parquet('../data/raw/poll_info.parquet')

In [108]:
df_processed = df_personal_info.merge(df_country_info, on='uuid', how='left')\
                              .merge(df_career_info, on='uuid', how='left')\
                              .merge(df_poll_info, on='uuid', how='left')

In [109]:
df_processed.head()

,uuid,age,gender,dem_has_children,age_group,country_code,country,rural,education_level,full_time_job,normalized_job_code,job_title,basic_income_awareness,basic_income_vote,basic_income_effect,basic_income_arguments_for,basic_income_arguments_against
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61,Male,no,40_65,AT,Austria,countryside,no,no,none,none,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57,Male,yes,40_65,AT,Austria,urban,high,yes,861a9b9151e11362eb3c77ca914172d0,Automatic Data Processing Planner,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,32,Male,no,26_39,AT,Austria,city,no,no,none,none,I have heard just a little about it,I would not vote,I would gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45,Male,yes,40_65,AT,Austria,country,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,Data Coordinator,I have heard just a little about it,I would probably vote for it,I would work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,41,Female,yes,40_65,AT,Austria,city,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,Database Developer,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

In [121]:
df_processed.to_csv('../data/processed/df_processed.csv')

In [119]:
filter = df_processed['country'] == 'United_Kingdom'

In [120]:
df_processed[filter]

,uuid,age,gender,dem_has_children,age_group,country_code,country,rural,education_level,full_time_job,normalized_job_code,job_title,basic_income_awareness,basic_income_vote,basic_income_effect,basic_income_arguments_for,basic_income_arguments_against
4578,8b1127b0-da43-0133-669a-0a81e8b09a82,52,Male,yes,40_65,UK,United_Kingdom,city,medium,yes,edc64316da9707432443c7a4461abe6c,Data Security Administrator,I understand it fully,I would vote for it,I would do more volunteering work,It creates more equality of opportunity | It i...,Foreigners might come to my country and take a...
4579,ae613370-de5c-0133-2770-0a81e8b09a82,55,Female,no,40_65,UK,United_Kingdom,rural,no,no,none,none,I know something about it,I would not vote,None of the above,It creates more equality of opportunity | It r...,It increases dependence on the state | Foreign...
4580,de08a070-deb8-0133-5d30-0a81e8b09a82,42,Female,yes,40_65,UK,United_Kingdom,rural,medium,yes,41b2978a2c07c5f477e60f26372d6c85,Database Management System Specialist (DBMS Sp...,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,"It increases solidarity, because it is funded ...",It might encourage people to stop working
4581,cc2d51c0-dc3d-0133-6644-0a81e8b09a82,38,Male,no,26_39,UK,United_Kingdom,countryside,no,yes,970eb38c7b3eb080466052ea994af189,Internet Database Specialist,I know something about it,I would probably vote against it,None of the above,None of the above,Only the people who need it most should get so...
4582,42ffa7d0-dbc2-0133-de15-0a81e8b09a82,1999,Male,no,juvenile,UK,United_Kingdom,urban,low,no,none,none,I know something about it,I would vote for it,I would gain additional skills,It encourages financial independence and self-...,It increases dependence on the state
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5772,44e21370-dcfe-0133-43ae-0a81e8b09a82,1990,Male,yes,26_39,UK,United_Kingdom,urban,high,no,none,none,I know something about it,I would vote for it,I would work as a freelancer,It reduces bureaucracy and administrative expe...,Foreigners might come to my country and take a...
5773,1330fdf0-ddff-0133-cc49-0a81e8b09a82,53,Female,yes,40_65,UK,United_Kingdom,countryside,medium,no,none,none,I understand it fully,I would vote against it,I would gain additional skills,It increases appreciation for household work a...,It is impossible to finance
5774,e2cdfe60-dca7-0133-bd12-0a81e8b09a82,58,Male,yes,40_65,UK,United_Kingdom,urban,medium,yes,1a281bf4bd1fe9b2a6e464e508bea167,Data Storage Specialist,I know something about it,I would probably vote for it,I would gain additional skills,It encourages financial independence and self-...,Only the people who need it most should get so...
5775,dfd63250-de3c-0133-5fb0-0a81e8b09a82,57,Female,no,40_65,UK,United_Kingdom,rural,medium,yes,a4d5b8b38f9513825d0d94a981ebe962,Database Manager,I know something about it,I would probably vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It is impossible to finance
5776,dbf919f0-dd49-0133-3ec1-0a81e8b09a82,1989,Female,yes,26_39,UK,United_Kingdom,rural,high,no,none,none,I know something about it,I would vote for it,I would spend more time with my family,It encourages financial independence and self-...,It might encourage people to stop working | It...